bin
lib
ipch
build_files
doc
CMakeFiles
CMakeScripts
CMakeCache.txt
CTestTestfile.cmake
cmake_install.cmake
*.vcxproj*
*.sln
*.xcodeproj
cachelot.build
Makefile
*.pyc
.hgignore
src/cachelot/config.h
src/cachelot/version.h
